# Dependencies
node_modules
.env
.env.*
!.env.example

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition files
/ignition/deployments

# IDE files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
/dist
/build
